a.active {
	color: #bd2525;
    
}
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
     background-color: white;
    /* color: #fff; */ 
    padding: 10px;
    text-align: center;
    z-index: 100; 
}